@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

p {
    text-align: justify;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header, .hero {
    padding-left: 10vw;
    padding-right: 10vw;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.header * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    flex: 2 0 200px;
}

.navbar {
    flex: 1 0 auto;
}

.navlinks {
    display: flex;
    gap: 15px;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.navlinks a {
    text-decoration: none;
    color: #E5E7EB;
}

.navlinks a:hover {
    text-decoration: underline;
}

.hero {
    height: 300px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero .left {
    flex: 1;
}

.hero .left * {
    flex: 1;
}

.hero .left h1 {
    color: #F9FAF8;
    margin-bottom: 15px;
}

.hero .left p {
    max-width: 500px;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
}

button,
.call-to-action {
    background-color: #3882F6;
}

button {
    color: #F9FAF8;
    margin: 5px 0;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}


.hero .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080;
}
